.recorder{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;  
}

.subRecorder{
  font-size: 120%;
  width: 500px;
  padding-right: 20%;
}

.content{
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;  
}

.home{
  position:absolute;
  float: left;
  margin-top: 3%;
  margin-right: 800px;
  top:0;
  right:0;
}

.back{
  margin-top: 3%;
  margin-left: 3%;
  background-color: #00D5B1;
  border-color: #00D5B1;
  position:absolute;
  top:0;
  right:0;
}

.back:hover{
  background-color: #86E79B;
  border-color: #86E79B;
  color: white;
  text-decoration: None;
}

a {
  color: #00D5B1;
} 
p {
  margin-top: 1rem;
}
a:hover {
  color:#86E79B;
}
/*
a:visited {
  color: #8d75a3;
}
*/
body {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  max-width: 28rem;
  margin: 0 auto;
  position: relative;
}


#controls {
  display: flex;
  margin-top: 2rem;
}

button {
  flex-grow: 1;
  height: 50px;
  width: 10%;
  border: none;
  border-radius: 10px;
  background: #00D5B1;
  margin-left: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-size: 1.5rem;
}
button:hover, button:focus {
  outline: none;
  background: #86E79B;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
  padding-bottom: 20px;
}

.error{
  color: red;
  margin-top: 3px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}