.content {
    width:100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;  }
.item{
    padding-bottom: 40px;
}

.home{
    position:absolute;
    float: left;
    margin-top: 3%;
    margin-right: 90%;
    top:0;
    right:0;
  }
  