<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/signup.css">
</head>
    

<body>
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Log In</div>
      <div class='input-fields'>
        <input type='text' placeholder='Username' class='input-line full-width'></input>
        <input type='email' placeholder='Email' class='input-line full-width'></input>
        <input type='password' placeholder='Password' class='input-line full-width'></input>

      </div>
      <div><button class='ghost-round full-width'>Log In</button></div>
      <div><button class='signup-round full-width'>Sign Up</button></div>

    </div>
  </div>
</div>
</body>

</html>