<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./static/css/editTeachers.css">
</head>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
      <div class="{{category}}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<!--acts as back button to navigate back to user profile-->
<a class='btn btn-secondaary btn-lg home', href="/userprofile">User Profile</a>

<body>
    <div class="container"><p><h1 align="center">Edit your teachers</h1></p>
        <div class="table-wrapper">
            <div class="table-title">
                <!--co-ordinates with JavaScript file 'editTeachers.js' to display the details of existing teachers and allow new teachers to be added-->
                <div class="row">
                    <div class="col-sm-8"><h2>Teacher details</h2></div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <div class='btn btn-info' id="displaymessage" style="display:none;width:100%;margin-top:10px;"></div>
                </div>
            </div>
   <table class="table table-bordered">
                <thead>
                    <!--details of teacher-->
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in teachers %}    
                    <tr>
                        <td>{{row.teacherName}}</td>
                        <td>{{row.teacherEmail}}</td>
                        <!--buttons allowing user to add, edit, or delete teacher details-->
                        <td>
                            <a class="add" title="Add" data-toggle="tooltip" id="{{row.teacherEmail}}"><i class="fa fa-user-plus"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip" id="{{row.teacherEmail}}"><i class="fa fa-pencil"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip" id="{{row.teacherEmail}}"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>   
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>     

    <script src="/static/js/editTeachers.js"></script>

</body>
