<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="./static/css/recorder.css">

  <a class='btn btn-secondary btn-lg home', href="{{ url_for('home') }}">Home</a>
</head>

{% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
      {{ message }}
   {% endfor %}
{% endif %}
{% endwith %}

<body>
  <h1 class="recorder display-1" >Audio recorder</h1>
  <div class="content">
    <div id="controls" class="content">
      <button id="recordButton">Record</button>
      <button id="pauseButton" disabled>Pause</button>
      <button id="stopButton" disabled>Stop</button>
    </div>

    <div id="formats">show number of channles and sample rate</div>
  </div>


  <script src="/static/js/recorder.js"></script>
  <script src="/static/js/app.js"></script>
</body>