<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>audio recorder prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/recorder.css">
  </head>
  <body>
    <h1>audio recorder prototype</h1>

    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats">show number of channles and sample rate</div>
    <p><strong>audio test:</strong></p>
    <ol id="recordingsList"></ol>

    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>

