<link rel="stylesheet" type="text/css" href="./static/css/login.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="bold-line"></div>
<div class="container">
  <div class="window">
    <div class="overlay"></div>
    <div class="content">
      <div class="welcome">Sign Up</div>
      <div class="subtitle">Sign up to get started!</div>
      <div class="input-fields">
        <form method="POST" action="">
            <input type="text" placeholder="First Name" class="input-line full-width"></input>
            <input type="text" placeholder="Last Name" class="input-line full-width"></input>
            <input id = "email" type="email" placeholder="Email" class="input-line full-width"></input>
            <input type="password" placeholder="Password" class="input-line full-width"></input>

            <input type="submit" placeholder="Submit" class="ghost-round full-width">
          </form>

      </div>
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>
  </div>
</div>

<!-- this one is broken but test.html works fine-->