<link rel="stylesheet" type="text/css" href="./static/css/login.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
      <div class="{{category}}">{{ message }}</div>
  {% endfor %}
{% endwith %}

<div class="bold-line"></div>
<div class="container">
  <div class="window">
    <div class="overlay"></div>
    <div class="content">
      <div class="welcome">Sign Up</div>
      <div class="subtitle">Sign up to get started!</div>
      <div class="input-fields">

        <form method="POST" action="">
          <input name = "firstName" type="text" placeholder="First Name" class="input-line full-width"/>
          <input name = "lastName" type="text" placeholder="Last Name" class="input-line full-width"/>
          <input name = "email" type="email" placeholder="Email" class="input-line full-width"/>
          <input name = "password" type="password" placeholder="Password" class="input-line full-width"/>
          <input type="submit" placeholder="Submit" class="ghost-round full-width"/>
        </form>

      </div>
      <div><button id = 'login' class='ghost-round full-width'>Log In</button></div>
    </div>
  </div>
</div>


<script>
  login.onclick = () => {
    window.location = "/login";
  }
</script>



