<!--the audio element is a DOM element used for embedding sounds from different sources in a webpage-->
<!--<audio> is only used for loading and playing souds-->

<link rel="stylesheet" type="text/css" href="./static/css/threshold2.css">

<!--had to put audio in static file to be able to access it, converted all files into .mp3 for consistency</audio>-->
<!--ng-src="{{data}}"-->
<audio id="audio">
  <source src="" type="audio/mp3">
</audio>

<div class="audio-duration">
  <div class="audio-duration-indicator"> 
  </div>
  <input class="audio-duration-toggler" id="duration-toggler" type="range" value="0" />
</div>

<div class="volume">
  <div class="volume-indicator"></div>
  <input class="volume-toggler" id='volume-toggler' type="range" value="100" />
</div>


<div class="freq">
    <div class="freq-indicator"></div>
    <input class="freq-toggler" id='freq-toggler' type="range" value="50" />
  </div>


<button class="btn btn-play" id="play-btn">Play</button>
<button disabled class="btn btn-pause" id="pause-btn">Pause</button>
<button class="btn btn-mute" id="mute-btn">Mute</button>
<button class="submit" id = "submit">Submit</button>

<script src="/static/js/threshold2.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
